@import "./icon.less";

*{
    margin: 0;
    padding: 0;
}
body {
	background: #f5f7f9;
}

.van-nav-bar {
  .van-nav-bar__title {
	  color: #fff;
  }
  .van-icon,.van-nav-bar__text {
	  color: #fff;
  }
}
.van-field__value {
  margin-left: 4px;
}
.my-container {
  .van-grid-item__content {
    background: none;
  }
  .van-button--small {
  	height: 24px;
  }
  .nav-sort {
	 .van-grid-item__text {
		 font-size:16px;
	 }
  }
}
.home-container {
	.home-nav-bar {
		.van-nav-bar__title {
			max-width: 80%;
			.van-button__icon {
				font-size: 16px;
			}
		}
	}
}